/*! Background site */
/* Default */
:root {
  --bg: white;
  --text: black;
  --border: solid black;
}
/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #252525;
    --text: white;
    --border: solid white;
  }
}
body {
  background-color: var(--bg);
  color: var(--text);
}
/*! Navigation */

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  position: sticky;
  border-radius: 12px;
}
.nav li {
    min-width: 150px;
}

.nav ul li a {
  display: block;
  color: white;
  padding: 15px 16px;
  text-decoration: none;
}
.nav ul li a.active {
    background-color: #c50d0d;
}

.nav ul li a:hover {
    background-color: white;
    color: black;
}

.nav-right {
    margin-left: auto;
}  

.nav-margin {
    margin: 20px 5px 10px 5px;
}
.nav-shadow {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


/*? Navigation background */

.example2 {
    background-image: url(../HTML/MainPics/footer_background.jpg);
    padding: 5px;
    border-radius: 12px;
    margin: 20px 5px;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    color: white;
}


/*? Dropdown  */

.dropdown {
  position: relative;
}

.dropdown-btn {
  background-color: #5f0b05;
  color: white;
  padding: 18px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  min-width: 150px
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5f0b05;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-btn {
  background-color: #c50d0d;
}


/*! Body */

.container {
  display: grid;
  grid-template-columns: auto 300px;
  margin: 5px;
}

.container3 {
  display: grid;
  grid-template-columns: auto 200px;
  margin: 5px;
  min-height: 10vh;
}

/*? Body div elements */

.container2 {
  background-color: var(--bg);
  border-radius: 12px 0px 0px 12px;
  padding: 5px 10px 5px 10px;
  margin-right: 5px;
  color: var(--text);
  border: var(--border);
}

.container4 {
  background-color: var(--bg);
  border-radius: 0px 12px 12px 0px;
  padding: 5px 10px 5px 10px;
  margin-right: 5px;
  color: var(--text);
  border: var(--border);
}

/*? Body navigation */

.body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: #333333;
}

.body li a {
  display: block;
  color: black;
  padding: 5px;
  text-decoration: none;
}

.body li a:hover {
  background-color: #c50d0d;
  color: white;
}

.body ul li a.active {
  background-color: #c50d0d;
}

.body-menu {
  width: 200px;
  position: relative;
}

.body-menu button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: #700801;
  color: white;
}

.body-menu button.active {
  background: #c50d0d;
}

.body-submenu,
.body-submenu-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.body-submenu.open,
.body-submenu-content.open {
  max-height: 1000px;
}

.body-submenu button {
  background-color: #7e3707;
  color: white;
  border-top: 1px solid #ccc;
  padding-left: 20px;
}

.body-submenu-content button {
  background: #2b0808;
  padding-left: 4px;
}
button:hover {
  background-color: rgb(133, 54, 54);
}

.body-submenu button.active {
  background: #d47202;
}

.menu-link.active-page {
  background-color: #888;
  color: white;
}

/*! Footer */

/*? Footer background */

.example1 {
    background-image: url(../HTML/MainPics/footer_background.jpg);
    border-radius: 12px;
    margin: 20px 5px;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    color: white;
    top: 20px;
}

/*! Texts and Fonts */

.headingText {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bodyText {
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footerText {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}
