.card1 {
    position: relative;
    right: 30px;
    top: 20px;
    left: 20px;
    bottom: 20px; 
}
.flex {
    display: flex;'
    gap: 0px;
    align: .items: flex-start;
}
#yap {
    height: 666px;
    width: 300px;
    flex: 1;
    position: sticky;
    top: 0px;
    margin-top: 37px;
    margin-left: 20px;
    margin-right: 20px;
}
.container {
    margin-right: 20px; 
    margin-top: 20px;
}
.heading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    text-shadow: 3px;
    text-align: center;
    color: #111810;
}
.textarea {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    text-shadow: 2px;
    text-align: left;
    color: #111130;
}
.italic {
    font-style: italic;
}
.padding {
    padding: 20px 20px 20px 20px;
}
.paddingNav {
    padding: 0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
}
.nav {
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    padding: 45px 0px 0px 0px;
    position: :horizontal;
}
li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px 0px 5px 0px;
    color: black;
}
.center {
    width: 100%; overflow: hidden; display: inline-block; width: auto;
}
